.address1-input {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #f8f7f7;
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    width: 914px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 25px;
  }
  
  .label-div1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  
  }
  
  .address2-input1 {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #f8f7f7;
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    width: 914px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 25px;
  }
  
  .company-input {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #f8f7f7;
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    width: 914px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
  }
  
  .country-label {
    cursor: pointer;
    position: relative;
    line-height: 16px;
    display: inline-block;
  }
  
  .cousta-input2 {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #f8f7f7;
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 19px;
    width: 411px;
    height: 50px;
    border-radius: 25px;
  }
  
  .form-div,
  .frame-div3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  
    justify-content: flex-start;
    gap: 89px;
  
  }
  
  .form-div {
    position: absolute;
    top: 200px;
    left: 100px;
    background-color: #fff;
    flex-direction: column;
    padding: 50px 800px 60px 50px;
  
    align-items: center;
    gap: 44px;
  }
  .image-upload>input {
    display: none;
    cursor: pointer;
  }
  .image-upload{
    margin-right: -1800px;
    margin-top: -200px;
    height: 180px;
    cursor: pointer;
    
  }
  
  .basic-information-label {
    cursor: pointer;
    position: relative;
    line-height: 16px;
    font-weight: 600;
    display: inline-block;
  }
  
  .basicinformation-div9 {
    position: absolute;
    top: 160px;
    left: 103px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 36px;
  
  }
  
  .cancel-div {
    position: relative;
    font-size: 24px;
    line-height: 16px;
    font-family: "Open Sans";
    color: #fff;
    text-align: left;
    display: inline-block;
  
  }
  
  .buttonstyle,
  .buttonrow-div11 {
    margin-top: 10px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
  
  }
  
  .buttonstyle {
    cursor: pointer;
    border: 0;
    padding: 24px 44px;
    background-color: #575757;
    box-sizing: border-box;
  
  }
  
  .buttonrow-div11 {
    gap: 32px;
    margin-top: 40px;
  
  }
  
  .button-div10 {
    position: absolute;
    top: 935px;
    left: 1285px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .vendor-det {
    position: relative;
    background-color: #f0f3f6;
    width: 100%;
    height: 1073px;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: "Open Sans";
  }